.form-control:focus {
  border-color: #ff9900;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 153, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 153, 0, 0.6);
}

/***********/
/*********/
/****************************/
/**************************/
.MM_navOne {
  background-color: #131921 !important;
}

.MM_SearchInput {
  width: 55vw;
  margin: auto;
}

.MM_SearchInput .MM_bg-search {
  background-color: #febd69;
}

.MM_NavbarItems {
  font-size: 0.8em;
}

.MM_NavbarItems span {
  display: block;
  font-weight: lighter;
}

.MM_NavbarItems a {
  font-weight: bold;
}

.MM_NavbarItems .MM_SignIn button {
  background-color: #ffd04f;
  border: 1px solid rgba(128, 128, 128, 0.397);
}

.MM_NavbarItems .MM_SignIn button:hover {
  background-color: #f3c64a;
}

.MM_NavbarItems .MM_SignIn span {
  font-size: 0.7em;
}

.MM_NavbarItems .MM_SignIn span a {
  text-decoration: none;
}

.MM_NavbarItems .MM_Cart span {
  display: inline-block;
  margin-top: 5%;
}

.MM_ulDropDown {
  list-style: none;
  font-size: 0.8em;
}

.MM_ulDropDown a {
  text-decoration: none;
  color: #808080;
  font-weight: lighter;
}

.MM_ulDropDown a:hover {
  text-decoration: underline;
}

.MM_navTwo {
  background-color: #232f3e !important;
  height: 2.5em;
}

.MM_navTwo a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.MM_navTwo .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.MM_navTwo .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: #111111;
  display: block;
}

.MM_navTwo #closebtn {
  display: none;
  position: relative;
  top: -90px;
  left: 300px;
  font-size: 60px;
  font-weight: lighter;
  color: #fff;
  margin: 0;
  padding: 0;
}

.MM_navTwo .MM_links a {
  font-size: 0.9em;
}

/******************************/
/****************************/
.MM_signInContainer .MM_signInCard, .MM_signInContainer .MM_buttomRights {
  font-size: 0.8em;
}

.MM_signInContainer .MM_signInCard a, .MM_signInContainer .MM_buttomRights a {
  text-decoration: none;
  font-size: 0.9em;
}

.MM_signInContainer .MM_signInCard a:hover, .MM_signInContainer .MM_buttomRights a:hover {
  text-decoration: underline;
  color: #ff9900;
}

.MM_signInContainer .MM_signInCard button, .MM_signInContainer .MM_buttomRights button {
  background-color: #ffd04f;
  border: 1px solid rgba(128, 128, 128, 0.397);
}

.MM_signInContainer .MM_signInCard button:hover, .MM_signInContainer .MM_buttomRights button:hover {
  background-color: #f3c64a;
}

.MM_signInContainer .MM_signInCard .dropdown ul, .MM_signInContainer .MM_buttomRights .dropdown ul {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
}

.MM_signInContainer .MM_newToAmazon p {
  font-size: 0.8em;
  color: #767676;
  position: relative;
}

.MM_signInContainer .MM_newToAmazon p::before {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: #76767686;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -2;
}

.MM_signInContainer .MM_newToAmazon p::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background: #76767686;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: -2;
}

.MM_signInContainer .MM_newToAmazon span {
  background: #fff;
}

.MM_signInContainer .MM_newToAmazon button {
  background-color: #f1f1f1;
  border: 1px solid rgba(128, 128, 128, 0.397);
}

.MM_signInContainer .MM_newToAmazon button:hover {
  background-color: #e0e0e0;
}

.MM_signInContainer .MM_buttomRights {
  font-size: 0.7em;
}

.MM_signInContainer .MM_buttomRights a {
  font-size: 0.8em;
  margin: 0 2%;
}

/************************/
/**********************/
.MM_result {
  -webkit-box-shadow: 0 4px 6px -6px #222;
          box-shadow: 0 4px 6px -6px #222;
}

.MM_result span {
  color: #c85500;
}

.MM_sideFilter {
  font-size: 0.9em;
  border-right: 2px solid rgba(179, 179, 179, 0.473);
}

.MM_sideFilter ul {
  padding: 0;
  margin: 0;
}

.MM_sideFilter ul li {
  list-style-type: none;
}

.MM_sideFilter a {
  text-decoration: none;
  color: #000;
}

.MM_sideFilter a:hover {
  color: #ff9900;
}

.MM_sideFilter a i {
  color: #ff9900;
}

.MM_sideFilter form .input-group {
  width: 60px;
  float: left;
}

.MM_sideFilter form .input-group span {
  background-color: #fff !important;
}

.MM_sideFilter form .input-group input {
  border-left: none;
}

.MM_sideFilter form .input-group input:focus {
  border-color: rgba(0, 0, 0, 0);
}

.MM_sideFilter form .input-group:hover {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 153, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 153, 0, 0.6);
}

.MM_sideFilter form button {
  background-color: #f1f1f1;
  border: 1px solid rgba(128, 128, 128, 0.397);
}

.MM_sideFilter form button:hover {
  background-color: #e0e0e0;
}

.MM_searchResult .row {
  margin-bottom: 20px;
}

.MM_searchResult .MM_shop img {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  padding: 10px;
}

.MM_searchResult .MM_shop div {
  display: inline-block;
  text-align: center;
  width: 180px;
  margin: 1% 2% 2% 0;
}

.MM_searchResult .MM_shop div a {
  text-decoration: none;
  color: #000;
}

.MM_searchResult .MM_shop div a:hover {
  text-decoration: underline;
  color: #ff9900;
}

.MM_searchResult .MM_relatedSearch img {
  background-color: #ffffff;
}

.MM_searchResult .col-md-10 {
  padding: 20px 0 0 110px;
}

.MM_searchResult .col-md-10 a {
  text-decoration: none;
}

.MM_searchResult .col-md-10 a:hover {
  color: #ff9900;
}

.MM_searchResult .col-md-10 a i {
  color: #ff9900;
}

.MM_searchResult hr {
  width: 95%;
  margin: 0 auto;
  height: 3px;
  border: none;
  background: #a1a1a1;
}

/**********************/
/********************/
.MM_shoppingCart img {
  width: 150%;
  height: auto;
}

.MM_shoppingCart .col-10 {
  padding: 10px 0 0 60px;
  line-height: 1.7;
}

.MM_shoppingCart .col-10 div {
  font-size: 0.8em;
}

.MM_shoppingCart .col-10 button {
  background-color: #f0f2f2;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
}

.MM_shoppingCart .col-10 a {
  text-decoration: none;
  color: #007185;
}

.MM_shoppingCart .col-10 a:hover {
  color: #ff9900;
}

.MM_shoppingCart .col-10 .MM_itemOptions a {
  padding-left: 10px;
  padding-right: 10px;
}

.MM_shoppingCart .col-10 .MM_itemOptions a:nth-child(1) {
  border-left: 1px solid #b4b4b4;
}

.MM_shoppingCart .col-10 .MM_itemOptions a:nth-child(2) {
  border-left: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4;
}

.MM_subTotal button {
  background-color: #ffd04f;
  border: 1px solid rgba(128, 128, 128, 0.397);
}

.MM_subTotal button:hover {
  background-color: #f3c64a;
}

.MM_otherProducts img {
  width: 300%;
  height: auto;
}

.MM_otherProducts .col-10 {
  padding: 10px 0 0 60px;
}

.MM_otherProducts .col-10 a {
  text-decoration: none;
  font-size: 0.9em;
  color: #007195;
}

.MM_otherProducts .col-10 a:hover {
  color: #ff9900;
}

.MM_otherProducts .col-10 a i {
  color: #ff9900;
}

.MM_otherProducts .col-10 .MM_price {
  color: #b65355;
}

.MM_otherProducts .col-10 button {
  background-color: #ffd04f;
  border: 1px solid rgba(128, 128, 128, 0.397);
}

.MM_otherProducts .col-10 button:hover {
  background-color: #f3c64a;
}

.MM_otherProducts .col-10 button {
  font-size: 0.7em;
}

/****************************/
/**************************/
/* The heart of the matter */
.tp-list-inline {
  overflow-x: auto;
  white-space: nowrap;
  min-height: 220px;
}

.tp-product-image {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
}

.tp-product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  padding: 10px 20px;
}

/******************/
/****************/
@media only screen and (max-width: 770px) {
  /************************/
  /**********************/
  .MM_searchResult .col-md-10 {
    padding: 0 0 30px 50px;
  }
}

@media only screen and (max-width: 480px) {
  /****************************/
  /**************************/
  .MM_navTwo .MM_links a {
    font-size: 0.7em;
  }
}
/*# sourceMappingURL=styles.css.map */