// Changed input focus color
.form-control:focus {
  border-color: #ff9900;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(255, 153, 0, 0.6);
}

/***********/
// Mixins //
/*********/

// Main button color
@mixin mainBtnColor {
  button {
    background-color: #ffd04f;
    border: 1px solid rgba(128, 128, 128, 0.397);
    &:hover {
      background-color: #f3c64a;
    }
  }
}

// Secondary button color
@mixin secondaryBtnColor {
  button {
    background-color: #f1f1f1;
    border: 1px solid rgba(128, 128, 128, 0.397);
    &:hover {
      background-color: #e0e0e0;
    }
  }
}

/****************************/
// Navigation bars Classes //
/**************************/

.MM_navOne {
  background-color: #131921 !important;
}

.MM_SearchInput {
  width: 55vw;
  margin: auto;

  .MM_bg-search {
    background-color: #febd69;
  }
}

.MM_NavbarItems {
  font-size: 0.8em;
  span {
    display: block;
    font-weight: lighter;
  }
  a {
    font-weight: bold;
  }

  .MM_SignIn {
    @include mainBtnColor;

    span {
      font-size: 0.7em;
      a {
        text-decoration: none;
      }
    }
  }
  .MM_Cart {
    span {
      display: inline-block;
      margin-top: 5%;
    }
  }
}

.MM_ulDropDown {
  list-style: none;
  font-size: 0.8em;
  a {
    text-decoration: none;
    color: #808080;
    font-weight: lighter;
    &:hover {
      text-decoration: underline;
    }
  }
}

.MM_navTwo {
  background-color: #232f3e !important;
  height: 2.5em;
  a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 1em;
      font-weight: bold;
      color: #111111;
      display: block;
    }
  }

  #closebtn {
    display: none;
    position: relative;
    top: -90px;
    left: 300px;
    font-size: 60px;
    font-weight: lighter;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .MM_links {
    a {
      font-size: 0.9em;
    }
  }
}

/******************************/
// Sign-in & Regiser Classes //
/****************************/

.MM_signInContainer {
  .MM_signInCard {
    font-size: 0.8em;
    a {
      text-decoration: none;
      font-size: 0.9em;
      &:hover {
        text-decoration: underline;
        color: #ff9900;
      }
    }

    @include mainBtnColor;

    .dropdown {
      ul {
        border: none;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1em;
      }
    }
  }

  .MM_newToAmazon {
    p {
      font-size: 0.8em;
      color: #767676;
      position: relative;
    }
    p::before {
      content: "";
      display: block;
      width: 120px;
      height: 1px;
      background: #76767686;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: -2;
    }
    p::after {
      content: "";
      display: block;
      width: 120px;
      height: 1px;
      background: #76767686;
      position: absolute;
      right: 0;
      top: 50%;
      z-index: -2;
    }
    span {
      background: #fff;
    }

    @include secondaryBtnColor;
  }

  .MM_buttomRights {
    @extend .MM_signInCard;
    font-size: 0.7em;
    a {
      font-size: 0.8em;
      margin: 0 2%;
    }
  }
}

/************************/
// Search Page Classes //
/**********************/

.MM_result {
  box-shadow: 0 4px 6px -6px #222;
  span {
    color: #c85500;
  }
}

.MM_sideFilter {
  font-size: 0.9em;
  border-right: 2px solid rgba(179, 179, 179, 0.473);

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
    }
  }

  a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: #ff9900;
    }

    i {
      color: #ff9900;
    }
  }

  form {
    .input-group {
      width: 60px;
      float: left;
      span {
        background-color: #fff !important;
      }
      input {
        border-left: none;
        &:focus {
          border-color: rgba(0, 0, 0, 0);
        }
      }

      &:hover {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(255, 153, 0, 0.6);
      }
    }

    @include secondaryBtnColor;
  }
}

.MM_searchResult {
  .row {
    margin-bottom: 20px;
  }
  .MM_shop {
    img {
      width: 100%;
      height: auto;
      background-color: #f7f7f7;
      padding: 10px;
    }
    div {
      display: inline-block;
      text-align: center;
      width: 180px;
      margin: 1% 2% 2% 0;
      a {
        text-decoration: none;
        color: #000;
        &:hover {
          text-decoration: underline;
          color: #ff9900;
        }
      }
    }
  }

  .MM_relatedSearch {
    img {
      background-color: #ffffff;
    }
  }

  .col-md-10 {
    padding: 20px 0 0 110px;
    a {
      text-decoration: none;
      &:hover {
        color: #ff9900;
      }

      i {
        color: #ff9900;
      }
    }
  }

  hr {
    width: 95%;
    margin: 0 auto;
    height: 3px;
    border: none;
    background: #a1a1a1;
  }

  .pagination > li > a {
    background-color: #eff1f3 !important;
    color: #5a5a5a;
  }

  .pagination > li > a:focus,
  .pagination > li > a:hover {
    background-color: #bdbdbd !important;
    border-color: #838383;
  }

  .pagination > .active > a {
    color: #e77600;
    background-color: #ffffff !important;
    border: solid 1px #e77600 !important;
  }

  .pagination > .active > a:hover {
    color: #e77600;
    background-color: #eff1f3 !important;
    border: solid 1px #838383 !important;
  }
}

/**********************/
// Cart Page Classes //
/********************/

.MM_shoppingCart {
  img {
    width: 150%;
    height: auto;
  }
  .col-10 {
    padding: 10px 0 0 60px;
    line-height: 1.7;
    div {
      font-size: 0.8em;
    }
    button {
      background-color: #f0f2f2;
      border: 1px solid #b4b4b4;
      border-radius: 10px;
    }
    a {
      text-decoration: none;
      color: #007185;
      &:hover {
        color: #ff9900;
      }
    }

    .MM_itemOptions {
      a {
        padding-left: 10px;
        padding-right: 10px;

        &:nth-child(1) {
          border-left: 1px solid #b4b4b4;
        }
        &:nth-child(2) {
          border-left: 1px solid #b4b4b4;
          border-right: 1px solid #b4b4b4;
        }
      }
    }
  }
}

.MM_subTotal {
  @include mainBtnColor;
}

.MM_otherProducts {
  img {
    width: 300%;
    height: auto;
  }
  .col-10 {
    padding: 10px 0 0 60px;
    a {
      text-decoration: none;
      font-size: 0.9em;
      color: #007195;
      &:hover {
        color: #ff9900;
      }

      i {
        color: #ff9900;
      }
    }
    .MM_price {
      color: #b65355;
    }
    @include mainBtnColor;
    button {
      font-size: 0.7em;
    }
  }
}

/****************************/
// Products Slider Classes //
/**************************/

/* The heart of the matter */

.tp-list-inline {
  overflow-x: auto;
  white-space: nowrap;
  min-height: 220px;
}

.tp-product-image {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
}

.tp-product-slider {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px 20px;
}

/******************/
// Media Queries //
/****************/

@import "mediaQueries";
